
root = true


[*]
indent_style = space
indent_size = 4
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
charset = utf-8

[*.cmd]
indent_style = space
indent_size = 4
end_of_line = crlf

[{*.nix,*.html,*.txt,*.md}]
indent_style = space
indent_size = 2

[bin/*]
trim_trailing_whitespace = unset

[libexec/enve/_*]
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset

[libexec/enve/core/{nodejs,base}/enve.module]
indent_style = space
indent_size = 2

[libexec/enve/script/{update_nix.sh,maclaunchd.sh,install_nix.sh,_*}]
indent_style = space
indent_size = 2
